body{
    background-color: black;
    color: red;
}
h1{
    text-align: center;
    box-shadow: 20px 20px 50px red;
    width:40%;
    margin-left: 30%;
    border-radius: 7px;
}
fieldset{
    width: 40%;
    margin-left: 30%;
    border-radius: 7px;
    box-shadow: 20px 20px 50px red;
    margin-top: 10px;
}
input[type="text"],[type="date"],[type="email"],[type="tel"],[type="password"],[type="number"],select,[type="file"]{
    width: 100%;
    border-radius: 7px;
    border: 2px solid red;
    color: red;
    background-color: black;
}
input,label{
    padding: 10px;
    transition:all 0.5s ease-in 0.5s;
}
input:hover{
    box-shadow: 20px 20px 20px red;
    transform: rotate(360deg);
}
.tooltip{
    display:none;
    transition:all 1s ease-in 0.5s;
}
td img{
    width: 20px;
    height: 20px;
    display: none;
}
input:focus + .tooltip{
    display: block;
    border: 2px solid black;
    width: fit-content;
    transform: scale(0.8);
    box-shadow: 10px 10px 30px red;
}
input[type="email"]:valid:focus~.correct{
    display: block;
}
input[type="email"]:invalid:focus~.incorrect{
    display: block;
}
input[type="radio"]:checked+label{
    font-size: large;
}
input[type="date"]{
    color:red;
}
textarea{
    background-color: black;
    color: red;
}
input[type="submit"]{
    border-radius: 10px;
    background-color: black;
    color: red;
    border: 2px solid red;
}
input[type="reset"]{
    border-radius: 10px;
    background-color: black;
    color: red;
     border: 2px solid red;
}
